---
import Layout from "../layouts/Layout.astro";
import { HomeComponent } from "../components/angular/home.component";
---

<Layout>
  <main>
    <!-- Static HTML -->
    <div>
      <h2>Static HTML</h2>
      <p>
        With Astro Islands, mix and match components from different frameworks
        on the same page, with each running in isolation without affecting the
        others.
      </p>
    </div>
    <!-- Angular component running its own island -->
    <br />
    <div>
      <h2>Angular</h2>
      <HomeComponent client:visible />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    padding: 2rem;
  }
</style>
